<!DOCTYPE html>
{# templates/base.html.twig #}

{# beware that the blocks in your template may be named different #}


<html lang="en">
    <head>
        {% include("templates/head.twig") %}
        <title>{% block title %}{% endblock %}</title>
        <link rel="icon" type="image/png" href="/assets/styles/favicon2.png"/>
        {% block head_css %}
             <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        {% endblock %}
    </head>
    <body>






    <h1></h1>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Easy Pay</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Registration</a>
                </li>
                
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/login">Login</a>
                </li>

                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/clienthome">Client Home</a>
                </li>

                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/chooseplan"> Make Recharge</a>
                </li>


                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/logout"> Log Out</a>
                </li>

                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Bank
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li>
                    <a class="dropdown-item" aria-current="page" href="/bankreg">Bank Registration</a>
                    </li>

                    <li>
                    <a class="dropdown-item" aria-current="page" href="/depositmoney">Deposit Money </a>
                    </li>

                    <li >
                    <a class="dropdown-item" aria-current="page" href="/bankhome">Bank Home </a>
                    </li>
                    
                    <li>
                    <a class="dropdown-item" aria-current="page" href="/banklogin">Bank Login </a>
                    </li>
                </ul>

                </li>
               
            </ul>
            
            </div>
        </div>
        </nav>        
     {% block body %}{% endblock %}
        {% block head_js %}
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        {% endblock %}
    </body>
</html>     


